@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Controle de livros disponíveis em uma livraria, desenvolvido em ASP.NET MVC com a IDE Visual Studio Community 2017.</p>
<strong><p>Tecnologias aplicadas:</p></strong>
<ul>
    <li>Linguagem de Programação C#</li>
    <li>ASP.NET MVC</li>
    <li>HTML5 / CSS3</li>
    <li>JavaScript</li>
    <li>Bootstrap</li>
    <li>JQuery</li>
    <li>Modernizr</li>
</ul>