@{
    ViewBag.Title = "Informações de Contato";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<p><a href="https://github.com/fcorrea42/">Github</a></p>
<p><a href="https://www.linkedin.com/in/fcorrea42/">LinkedIn</a></p>

<address>
    Celular:    +55 15 988126387
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:fcorreafelipe@gmail.com">fcorreafelipe@gmail.com</a><br />
</address>

<div>
    @Html.ActionLink("Página Inicial", "Index")
</div>