@{
    ViewBag.Title = "Página Inicial";
}

<div class="jumbotron">
    <h1>Controle de Estoque da Livraria</h1>
    <p class="lead">
        Aplicação para gerenciar os livros presentes no estoque da livraria.<br />Permite Adicionar, Editar e Excluir registros de livros, 
        mantendo-os salvos num banco de dados persistente, além de exibi-los em ordem alfabética pelo nome.
    </p>
    <p><a href="https://github.com/fcorrea42/Controle_Livraria" class="btn btn-primary btn-lg">Saiba Mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Consulte</h2>
        <p>
            Veja a lista de livros presentes no estoque da livraria facilmente. Atualizada em tempo real, qualquer adição, alteração ou exclusão será
            imediatamente refletida nessa listagem.
        </p>
        <p><a href="./Home/Query" class="btn btn-default">Consulta de Livros &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Adicione</h2>
        <p>Digitando as informações do livro, pode-se facilmente colocar novos registros no banco de dados do estoque.</p>
        <p><a href="./Home/Register" class="btn btn-default">Cadastrar Livros &raquo;</a></p>
    </div>    
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Edite</h2>
        <p>Caso alguma informação precise ser modificada ou atualizada, basta selecionar o livro na listagem que qualquer alteração pode ser feita de forma rápida e simples.</p>
    </div>
    <div class="col-md-6">
        <h2>Exclua</h2>
        <p>Se um livro deixar de fazer parte do estoque ou algum registro for adicionado erroneamente, não haverá dificuldades em removê-lo, selecionando o livro na listagem.</p>
    </div>
</div>